<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>JspServlet</display-name>
  <welcome-file-list>
   <!--  <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file> -->
    <welcome-file>Employee.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeEditServlet</display-name>
    <servlet-name>EmployeeEditServlet</servlet-name>
    <servlet-class>com.servlet.EmployeeEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeEditServlet</servlet-name>
    <url-pattern>/EmployeeEditServlet</url-pattern>
  </servlet-mapping>
  
</web-app>